@import url("https//cdn.web-fonts.ge/fonts/bpg-no9/css/bpg-no9.min.css");
@font-face {
    font-family: 'ALKDots';
    src: url('../fonts/alkdots-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alkdots-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alkdots-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alkdots-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alkdots-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alkdots-webfont.svg#alkdotsregular') format('svg'); /* Legacy iOS */
}
@font-face{font-family:ALKDots;src:url(../fonts/alkdots-webfont.eot);src:url(../fonts/alkdots-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/alkdots-webfont.woff2) format('woff2'),url(../fonts/alkdots-webfont.woff) format('woff'),url(../fonts/alkdots-webfont.ttf) format('truetype'),url(../fonts/alkdots-webfont.svg#alkdotsregular) format('svg')}
*{
	margin: 0;
	box-sizing: border-box;
}
img{
	max-width: 100%;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
header{
	background-color: #0020F4;
	font-size: 16px;
	max-width: 1920px;
	height: 388px;
}
.header-wrap{
	text-align: middle;
	margin: 0 auto;
	padding-left: 240px;
	padding-right: 240px;
	padding-top: 27px;
}
.logo, .list, .btn{
	display: inline-block;
	vertical-align: middle;
}
.logo img{
	width: 115px;
	height: 65px;
}
.list{
	margin-right: 27px;
}
.list li{
	display: inline-block;
	margin-right: 30px;
}
.list li a{
	color: #FFFFFF;
	font-size: 16px;
}
.btn{
	width: 160px;
	height: 55px;
	background-color: #FFFFFF;
	color: #171717;
	border-radius: 28px;
	border: none;
}
.section1{
	background-color: #0020F4;
	pedding-bottom: 172px;	
}
.main-photo{
	/*margin: 0 auto -362px auto;*/
	padding-left: 362px;
	padding-right: 362px;
}
.main-photo img{
	width: 100%;
	height: 600px;
	border-radius: 15px;
	display: inline-block;
	object-fit: cover;
}
.section2{
	background-color: #FFFFFF;
}
.section2 h1{
	font-size: 28px;
	color: #171717;
	padding-top: 30px;
	padding-left: 362px;
	display: inline-block;
	vertical-align: middle;
	font-family: "ALK Tall Nusxuri", sans-serif;
}
.images{
	padding-left: 362px;
	padding-top: 40px;
}
.images img{
	width: 125px;
	height: 125px;
	border-radius: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	object-fit: cover;
}
.section3{
	background-color: #FFFFFF;
}
.p1, .p2, .p3{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	padding-left: 484px;
	padding-right: 484px;
}
.p1{
	margin-top: 60px;
	font-family: "BPG No9", sans-serif;
}
.p2, .p3{
	margin-top: 18px;
	font-family: 'ALKDots';
}
.p3{
	margin-bottom: 76px;
}
.more-info{
	display: inline-block;
	margin-left: 362px;
	width: 341px;
	height: 55px;
	background-color: #0020F4;
	color: #FFFFFF;
	border: none;
	border-radius: 28px;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 180px;
	
}
footer{
	background-color: #0020F4;
	padding-top: 100px;
	padding-bottom: 40px;
	padding-left: 120px;
	padding-right: 120px;
	color: #FFFFFF;
}

footer > div{
	display: inline-block;
	vertical-align: top;
}

footer > div:first-child{
	width: 380px;
	margin-right: 40px;
}

footer > div:nth-child(2){
	width: 280px;
	margin-right: 40px;
	margin-top: 40px;
}

footer > div:last-child{
	width: 26px;
}

footer h2{
	font-size: 32px;
	margin-bottom: 30px;
}

footer p{
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 30px;
}

footer > div:first-child img{
	width: 463px;
	height: 197px;
	display: block;
	object-fit: cover;
	margin-bottom: 30px;
	border-radius: 15px;
}

footer a{
	display: block;
	color: #FFFFFF;
	margin-bottom: 15px;
}

footer > div:nth-child(2) li{
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 15px;
	margin-bottom: 30px;
	color: #FFFFFF;
}

footer > div:last-child button{
	width: 151px;
	height: 55px;
	background-color: #FFFFFF;
	color: #171717;
	border: none;
	border-radius: 28px;
	margin-bottom: 105px;
}

footer h5{
	display: inline-block;
	color: #FFFFFF;
	font-size: 16px;
	margin-right: 240px;
}